	.login-content {
		padding: 70rpx 10rpx 35rpx;
		text-align: center;
		color: #333333;
	}
 
	.login-title {
		font-size: 26rpx;
		font-weight: bold;
		margin-bottom: 31rpx;
	}
 
	.login-content input {
		height: 50px;
		background: #F8F8F8;
		border-radius: 25px;
		text-align: left;
		padding: 15px;
		box-sizing: border-box;
		font-size: 15px;
	}
 
	.iphone,
	.password,
	.test {
		position: relative;
		margin-bottom: 30px;
	}
 
	.iphone .uni-icons,
	.password .uni-icons {
		position: absolute;
		top: 14px;
		right: 30px;
	}
 
	.test-btn,
	.password-btn {
		color: #ff8b33;
		font-size: 15px;
		text-align: right;
	}
 
	.get-test {
		color: #ff8b33;
		font-size: 15px;
		width: 122px;
		height: 50px;
		border: 1px solid #FF8B33;
		border-radius: 25px;
		line-height: 50px;
	}
 
	.test {
		display: flex;
		justify-content: space-between;
	}
 
	.login-btn {
		width: 355px;
		height: 45px;
		background: #FF8B33;
		border-radius: 36px;
		color: #fff;
		font-size: 20px;
		text-align: center;
		line-height: 45px;
		position: fixed;
		bottom: 60px;
	}